
.cache/
venv/
.env
__pycache__/
vhpi/tests/dummy_dest/
lock
fiddle.py
fmw_TODO.md
.pycre
vhpi.egg-info/
.swp
**/tmp/*

vhpi_stable/
vhpi_wirr/

### Wheels ###
build/
dist/

### Intellij ###
*.iml
.idea/

debian/


