[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

docopt = "*"


[dev-packages]

wheel = "*"
pytest = "*"
pypandoc = "*"
"ruamel.yaml" = "*"


[requires]

python_version = "3.6"
