[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
cryptography = "==35.0.0"

[dev-packages]
black = "*"
pylint = "*"
mypy = "*"
nuitka = "==0.6.17.3"
buildlib = "==3.0.2"
types-setuptools = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
